<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
         <h1>New</h1>
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div>
                <div>
                    <label class="form-label" for="title">Title: </label>
                    <input class="form-control" type="text" name="campground[title]" id="title" placeholder="title" required
                    value="<%= campground.title %>">>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div>
                    <label class="form-label" for="location">Location: </label>
                    <input class="form-control" type="text" name="campground[location]" id="location" placeholder="location" required
                    value="<%=campground.location%>">>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" name='campground[price]' id='price' class="form-control" required
                    placeholder="0" aria-label="Amount (to the nearest dollar)" value="<%=campground.price%>">>
                    <span class="input-group-text">.00</span>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description: </label>
                    <textarea class="form-control" type="text" name="campground[description]" required id="description" placeholder="description">
                        <%=campground.description%>
                    </textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="input-group mb-3 mt-3">
                        <input type="file" class="form-control" id="image" name="image" id="" multiple>
                        <label class="input-group-text" for="image">Upload</label>
                </div>
            </div>
            <div class="mb-3">
                <% campground.images.forEach(function(img, i){ %>
                    <div class="d-inline">
                        <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail">
                        <div class="form-check-inline">
                            <input type="checkbox" id="img-<%= i %>" name="deleteImages[]" value="<%=img.filename %>">
                            <label for="img-<%=i %>">Delete?</label>
                        </div>
                    </div>

                <% }) %>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Submit</button>
                <br>
                <a href="/campgrounds/<%=campground._id%>">Back to Campground</a>
            </div>
        </form>
    </div>
</div>




    <!-- <h1>edit</h1>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
        <input type="text" name="campground[title]" id="title"
        value="<%=campground.title%>">
        <br>
        <input type="number" name="campground[price]" id="price"
        value="<%=campground.price%>">
        <br>
        <input type="text" name="campground[description]" id="description"
        value="<%=campground.description%>">
        <br>
        <input type="text" name="campground[location]" id="location"
        value="<%=campground.location%>">
        <button>Submit</button>
    </form> -->
